<h1>
  We're sorry to see you cancel
</h1>
<h2>
  To confirm, please enter your email address again.
</h2>
<form method="post" action="/cancel/<%= @authstring %>">
  <center>
  <p>
    <input name='email' type='text' size=20 placeholder="Email">
  </p>
    <input type="submit" value="cancel my rsvp" />
  </center>
</form>
