<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Holiday Tech Meetup &ndash; Reservation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=7; IE=EmulateIE9" />
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="http://api.maps.nokia.com/2.2.1/jsl.js?with=maps,places,directions,positioning"></script>
	<script type="text/javascript" src="js/retina.js"></script>
</head>


<body>

<div class="container header">
	<div id="map-close"></div>
	<div id="mapContainer"></div>
	<div id="mapContainer-cover"></div>
	<script type="text/javascript">
		nokia.Settings.set("appId", "PquCrGgrx7Xv5JOT-WVR"); 
		nokia.Settings.set("authenticationToken", "6bBVL6ZLeN52CMx3BfE8zw");
  
		var map = new nokia.maps.map.Display(
			document.getElementById("mapContainer"), {
				components: [new nokia.maps.map.component.Behavior()],
				zoomLevel: 15,
				center: [33.994042,-118.469748]
			});

		// Create a route manager
		var router = new nokia.maps.routing.Manager();

		// Create waypoints
		var waypoints = new nokia.maps.routing.WaypointParameterList();
		
		// Detect location
		function getLocation()
		{
			if (navigator.geolocation)
			{
				navigator.geolocation.getCurrentPosition(showPosition);
			}
			else{}
		}
		function showPosition(position)
		{
			waypoints.addCoordinate(
				new nokia.maps.geo.Coordinate(position.coords.latitude,position.coords.longitude)
			);

			waypoints.addCoordinate(
				new nokia.maps.geo.Coordinate(33.994042,-118.469748)
			);
			var modes = [{
				type: "shortest",
				transportModes: ["walk"],
				options: "avoidTollroad",
				trafficMode: "default"
			}];

			var onRouteCalculated = function (observedRouter, key, value) {
				if (value == "finished") {
					var routes = observedRouter.getRoutes();
					
					// Create the default map representation of a route
					var mapRoute = new nokia.maps.routing.component.RouteResultSet(routes[0]).container;
					map.objects.add(mapRoute);
					
					// Zoom to the bounding box of the route
					map.zoomTo(mapRoute.getBoundingBox(), false, "default");
				} else if (value == "failed") { 
					alert("The routing request failed.");
				}
			};

			// Add the observer function to the router's "state" property
			router.addObserver("state", onRouteCalculated);

			// Calculate the route (and call onRouteCalculated afterwards)
			router.calculateRoute(waypoints, modes);
		}
		getLocation();
		
		$(document).ready(function(){
			$('#map-trigger').hover(function(){
				$('#mapContainer-cover').css('display','none');
				$('.header .row').fadeOut(200, function(){$('#mapContainer').fadeTo(200, 1);});
				$('#map-close').fadeIn(400);
			});
			$('#map-close').click(function(){
				$('#mapContainer-cover').css('display','block');
				$('#mapContainer').fadeTo(200, .25, function(){$('.header .row').fadeTo(200, 1);});
				$('#map-close').fadeOut(400);
			});
		});
	</script>
	<div class="row">
		<div class="twocol">
			<img src="img/logo.png" alt="EdgeCast" class="logo" />
		</div>
		<div class="sixcol">
			<div class="sublogo">Holiday Tech Meetup</div>
		</div>
		<div class="fourcol last">
			<div class="caption"><img src="img/info-icon.png" alt="Info" id="map-trigger"/>Located at<br/>1600 Main St, Venice, CA</div>
		</div>
	</div>
	<div class="row">
		<div class="eightcol">
			<div class="display">Registration System</div>
		</div>
		<div class="fourcol last">
			<div class="sub-display">
				<p class="details"><a href="http://www.edgecast.com/">EdgeCast</a>, <a href="http://js.la/">JS.LA</a>, <a href="http://www.meetup.com/ladevops/">Los Angeles DevOps</a>, <a href="http://nextspace.us/nextspace-los-angeles/">NextSpace</a>, and <a href="http://www.amplify.la/">Amplify</a> invite you to attend our first ever holiday meetup celebration.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="twelvecol fade"></div>
	</div>
</div>

<div class="container content">
	<div class="row">
		<div class="fourcol secondary-logo"><img src="img/seal.png" alt="EdgeU Seal" /></div>
		<div class="fourcol digest">
			<div class="small-display">December 13th</div>
			<p>Thursday, 7&mdash;10pm</p>
			<p>NextSpace @ Amplify<br/>1600 Main St<br/>Venice, CA 90291</p>
			<p>This meetup will bring together fellow LA tech friends to enjoy conversation and holiday cheer over food, wine and beer.  Happy Holidays &ndash; hope to see you there.</p>
			<div class="sponsors"><img src="img/sponsors.png" alt="Sponsors" /><a href="http://js.la/" class="jsla" title="js.la"></a><a href="http://www.edgecast.com/" class="edgecast" title="edgecast.com"></a><a href="http://nextspace.us/nextspace-los-angeles/" class="nextspace" title="nextspace"></a><a href="http://www.amplify.la/" class="amplify" title="amplify.la"></a><a href="http://www.meetup.com/ladevops/" class="ladevops" title="meetup.com/ladevops/"></a></div>
		</div>
		<div class="fourcol last">
			<div class="rsvp"> 
				<%= yield %>
			</div>
			<script> 
				window._gaq = [ ['_setAccount','UA-29201604-1']
				, ['_setDomainName', 'js.la']
				, ['_trackPageview']
				, ['_trackPageLoadTime']
				];
			   
				var protocol = ('https:' == location.protocol ? '//ssl' : '//www');
			   
				Modernizr.load({ load: protocol + '.google-analytics.com/ga.js' });
			</script> 
		</div>
	</div>
</div>

<div class="container footer">
	<div class="row">
		<div class="fourcol">EdgeU Reservation System</div>
		<div class="fourcol">DevOps + MarCom</div>
		<div class="fourcol last">&copy; EdgeCast Networks, 2012</div>
	</div>
</div>

</body>

</html>
