<table>
  <tr>
    <th>Name</th>
    <th>Org</th>
  </tr>
  <% @rsvps.keys.each do |rsvp| %>
    <tr>
      <td><%= @rsvps[rsvp]['name'] %></td>
      <td><%= @rsvps[rsvp]['org'] %></td>
    </tr>
  <% end %>
</table>

