<h1>
  RSVP for our March 29th event!
</h1>
<form method="post" action="/rsvp">
  <p>
    <label>name</label>
    <input name='user[name]' type='text' size=20>
  </p>
  <p>
    <label>email</label>
    <input name='user[email]' type='text' size=20>
  </p>
  <p>
    <label>organization</label>
    <input name='user[org]' type='text' size=20>
  </p>
  <center>
    <p><%= captcha_image_tag %></p>
    <p><%= captcha_answer_tag %></p>
    <input type="submit" value="RSVP!" />
  </center>
</form>
<h5>
  There are <%= @seats %> seats left for this event
</h5>
