<form method="post" action="/holidayjam">
      <div class="small-display">RSVP</div>
      <span><%= @rsvps %> reservations</span><br />
      <span><%= @seats %> tickets remaining</span>
      <div class="control-group"> 
        <label>Name</label> 
        <div class="controls"> 
          <input type="text" placeholder="John Hammond" name="user[name]"> 
        </div> 
      </div> 
 
      <div class="control-group"> 
        <label>Email</label> 
        <div class="controls"> 
          <input type="email" placeholder="trex@example.com" name="user[email]"> 
        </div> 
      </div> 
 
      <div class="control-group"> 
        <label>Organization</label> 
        <div class="controls"> 
          <input type="text" placeholder="InGen" name="user[org]"> 
        </div> 
      </div> 
      
      <%= captcha_image_tag %>
      
      <div class="control-group"> 
        <div class="controls"> 
           <input id="captcha-answer" name="captcha_answer" type="text" placeholder="The Magic Words"> 
        </div> 
      </div> 
 
      <div class="control-group"> 
        <div class="controls"> 
          <input type="submit" value="Submit" class="button"> 
        </div> 
      </div>   
</form>
