/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
a {
	color: black;
}
body {
	font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 140%;
	color: black;
	background: white;
}
p {
	margin-bottom: 1em;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;
}
input, textarea {
	width: 100%;
	border: none;
	background: #CDCDCD;
	padding: .4em .6em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: "Asap", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 140%;
	color: black;
	border-bottom: 1px solid black;
}
input:focus, textarea:focus {
	border-color: #FC950F;
}
::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder {  
   color: white;  
}
.floatfix {
	clear: both;
}
.header {
	position: relative;
	height: 480px;
}
.header .row {
	padding-top: 40px;
	position: relative;
	z-index: 10;
}
.header .logo {
	max-height: 2.2em;
	vertical-align: middle;
}
.header .logo-wrap {
	padding-top: .1em;
	line-height: 2.2em;
	vertical-align: middle;
}
.header .logo span {
	color: #90D10F;
}
.header .caption {
	font-size: 80%;
	line-height: 1.4em;
	margin-bottom: 20px;
	position: relative;
}
.header .sublogo {
	font-size: 2.1em;
	line-height: 100%;
	vertical-align: middle;
	margin-bottom: 20px;
}
.display {
	font-size: 8em;
	line-height: 110%;
	font-weight: 200;
	font-style: oblique;
	margin-bottom: 20px;
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.small-display {
	font-size: 2em;
	line-height: 110%;
	font-weight: 300;
	margin-bottom: 20px;
}
.header .sub-display {
	font-size: 100%;
}
.header #map-trigger {
	display: block;
	position: absolute;
	left: 9.25em;
	top: 0.07em;
}
#mapContainer {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=25);
	-moz-opacity: 0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}
#mapContainer-cover {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 2;
	background; white;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
#map-close {
	display: none;
	cursor: pointer;
	width: 35px;
	height: 35px;
	background: transparent url('../img/close-button.png') left top no-repeat;
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 5;
}
.content {
	position: relative;
	padding-top: 140px;
	padding-bottom: 30px;
	margin-top: -100px;
	background: white;
	z-index: 5;
	background: transparent url('../img/gradient-bg.png') top left repeat-x;
}
.content .row {
	overflow: visible;
}
.content .secondary-logo img {
	-webkit-transition:all 5.5s ease-out;
	-moz-transition:all 5.5s ease-out;
	-ms-transition:all 5.5s ease-out;
	-o-transition:all 5.5s ease-out;
	transition:all 5.5s ease-out;
}
.content .secondary-logo img:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}
.content strong {
	letter-spacing: .6px;
	border-bottom: 1px solid #90D10F;
	display: inline-block;
}
.content .note {
	color: #fc950f;
}
.content .control-group {
	margin-bottom: 1em;
}
.content input.button {
	width: auto;
	float: right;
	border: none;
	background: #90D10F;
	color: white;
	cursor: pointer;
	margin-bottom: 1em;
}
.content input.button:hover {
	background: #FC950F;
}
.sponsors {
	position: relative;
	max-width: 329px;
}
.sponsors a {
	display: block;
	position: absolute;
}
.sponsors .jsla {
	width: 50%;
	height: 50%;
	top: 0;
	left: 0;
}
.sponsors .edgecast {
	width: 50%;
	height: 50%;
	top: 0;
	right: 0;
}
.sponsors .nextspace {
	width: 25%;
	height: 50%;
	top: 50%;
	left: 0;
}
.sponsors .amplify {
	width: 25%;
	height: 50%;
	top: 50%;
	left: 25%;
}
.sponsors .ladevops {
	width: 50%;
	height: 50%;
	top: 50%;
	right: 0;
}
.footer {
	padding-bottom: 40px;
}
.footer .row {
	border-top: 1px solid #CDCDCD;
	color: #9A9A9A;
	padding-top: 40px;
	font-size: 80%;
}

/* ============================= */
/* ! Layout for small screens    */
/* ============================= */
@media only screen and (max-width: 1023px) {
	.display {
		font-size: 4em;
		line-height: 110%;
	}
	.small-display {
		font-size: 1.6em;
		line-height: 115%;
	}
	.header {
		height: 380px;
	}
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
	body {
		
	}
	.display {
		font-size: 2em;
		line-height: 110%;
	}
	.small-display {
		font-size: 1.4em;
		line-height: 115%;
	}
	.details {
		display: none;
	}
	.header .row .last .caption {
		margin-bottom: 0;
	}
	.header {
		height: 280px;
	}
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/
}
